@using Microsoft.Extensions.Localization
@using BlazorApp.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer
    
<!-- Nav -->
<div class="container-fluid custom-pad">
    <nav class="navbar navbar-expand-lg bg-white fixed-top" style="border-bottom: 1px solid #eee;">
        <section class="container-md custom-pad gap-3">
            @* <a class="navbar-brand" href="/"><img src="./assets/logikco logo.png" alt="" height="32"></a> *@
            <a class="navbar-brand" href="/"><img src="@LogoSrc" alt="" height="40"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-center" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="about">@localizer["About"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="skillsandservices">@localizer["SkillsServices"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="solutions">@localizer["Solutions"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="techFeed">@localizer["TechFeed"]</a>
                </li>
                <a type="button" class="nav-login btn btn-secondary text-light" target="_blank" href="contact">@localizer["Contact"]</a>
                <CultureSelector />
                </ul>
            </div>  
        </section>    
    </nav>
</div>

@code {
    private string LogoSrc => CultureInfo.CurrentCulture.Name.StartsWith("zh") 
        ? "./assets/logikco logo_TW.png" // 中文的 Logo
        : "./assets/logikco logo.png";   // 英文的 Logo
}