@page "/about"
@using Microsoft.Extensions.Localization
@using BlazorApp.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer

<PageTitle>@localizer["NavBar_About"]</PageTitle>

    <!-- Header -->
    <section class="container-fluid header" >
        <h4 style="color: white;">@localizer["NavBar_About"]</h4>
    </section>

    <!-- Philosophy -->
    <section class="container-md py-lg-5 py-4 py-3 custom-pad">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col pe-lg-4 d-flex justify-content-center align-items-center"><img src="/assets/logikco logo.png" alt="Logikco logo" style="width: 300px; height: 5rem;"></div>
            <div  class="col ps-lg-4">
                <h4>@localizer["About_Phil_Title"]</h4>
                <p>
                    @localizer["About_Phil_P"]
                    @* At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority. *@
                </p>
            </div>
        </div>
    </section>

    <!-- Certificate -->
    <div style="background-color: #F5F5F5;">
        <section class="container-md py-lg-5 py-4 custom-pad">
            <h4>@localizer["About_Certificate"]</h4>
            <div class="row row-cols-2 row-cols-lg-4">
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
                <div class="col"><img src="/assets/logikco logo.png" alt="" ></div>
            </div>
        </section>
    </div>

    <!-- Content -->
    <section class="container-md py-lg-5 py-4 custom-pad d-flex flex-column gap-lg-5 gap-4">
        <div class="row row-cols-1 row-cols-lg-2 flex-wrap-reverse align-items-center">
            <div class="col pe-lg-4">
                <img src="assets/Solutions/About_01.png" alt="">
            </div>
            <div class="col ps-lg-4 ">
                <h4>@localizer["About_Tech_Title"]</h4>
                <p>
                    @localizer["About_Tech_P"]
                    @* LogiKCo provides custom IT solutions.  We’re here to help businesses and organizations improve and excel.

                    Think Better.  Think Faster.  Think Stronger.  Think LogiKCo. <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority. *@
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 align-items-center">
            <div class="col pe-lg-4">
                <h4>@localizer["About_Good_Title"]</h4>
                <p>
                    @localizer["About_Good_P"]
                    @* LogiKCo’s IT team is here to help you develop a solution that works hard for your organization.  But good solutions need good design and great support.  Contact us today with any questions about existing or custom products.
                    <br/>
                    Think Innovative.  Think LogiKCo. *@
                </p>
            </div>
            <div class="col ps-lg-4">
                <img src="assets/Solutions/About_02.png" alt="">
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 flex-wrap-reverse align-items-center">
            <div class="col pe-lg-4">
                <img src="assets/Solutions/About_03.png" alt="">
            </div>
            <div class="col ps-lg-4">
                <h4>@localizer["About_From_Title"]</h4>
                <p>
                    @localizer["About_From_P"]
                    @* At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority. *@
                </p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 align-items-center">
            <div class="col pe-lg-4">
                <h4>@localizer["About_Employees_Title"]</h4>
                <p>
                    @localizer["About_Employees_P"]
                    @* At LogiKCo, we believe providing the right solutions for our customers is the number one priority. That means having a clear understanding of our customers’ needs. For every project we take on, our team of project managers, business analysts, and developers create a unique project plan package consisting of a document repositories, regular timeline updates, and numerous task management lists tracked and shared between project team members. 
                    <br/>
                    In-person and remote training sessions as well as personal customer support are a given. Whether we’re delivering a custom solution, integrating systems, or supporting network infrastructure, our customer’s satisfaction is always our priority. *@
                </p>
            </div>
            <div class="col ps-lg-4">
                <img src="assets/Solutions/About_04.png" alt="">
            </div>
        </div>
    </section>

<style scoped>
    h4, h5{
            color: #102389 ;
    }
    img{
        border-radius: 10px;    
    }
</style>