@page "/"
@using Microsoft.Extensions.Localization
@using BlazorApp.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer

<PageTitle>@localizer["Home"]</PageTitle>


<!-- Hero section -->
<section class="hero container-fluid px-0">
    <div class="container-md py-5 custom-pad">
        <span class="row px-0">
            <h2 class="col-md-6 mb-3" style="text-align:start; font-size: 3.75rem;">@localizer["Home_Hero"]</h2>
            <p class="col-md-8 mb-3" style="font-size: 1.25rem;" >@localizer["Home_Hero_Text"]</p>
        </span>
        <a href="/contact" class="btn btn-light">@localizer["Home_Hero_CTA"]</a>
    </div>
</section>

<!-- Service & Solutions -->
<div style="background-color: #F5F5F5;">
    <section class="container-md py-5 custom-pad">
        <h4 class="text-primary">@localizer["Home_Service"]</h4>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            <div class="col">
                <div class="custom-card bg-white p-4">
                    <span class="material-symbols-outlined icon">
                        cell_merge
                    </span>
                    <span>
                        <h6 class="text-primary">@localizer["Home_Service_Integration"]</h6>
                        <p>@localizer["Home_Service_Integration_P"]</p>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="custom-card bg-white p-4">
                    <span class="material-symbols-outlined icon">
                        instant_mix
                    </span>
                    <span>
                        <h6 class="text-primary">@localizer["Home_Service_Customized"]</h6>
                        <p>@localizer["Home_Service_Customized_P"]</p>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="custom-card bg-white p-4">
                    <span class="material-symbols-outlined icon">
                        account_balance
                    </span>
                    <span>
                        <h6 class="text-primary">@localizer["Home_Service_Government"]</h6>
                        <p>@localizer["Home_Service_Government_P"]</p>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- Solutions -->
    <section class="container-md pb-3 custom-pad">
        <h4 class="text-primary">@localizer["NavBar_Solutions"]</h4>
        <ul class="nav nav-pills mb-3 d-flex justify-content-between" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active w-100" id="pills-DataManagement-tab" data-bs-toggle="pill" data-bs-target="#pills-DataManagement" type="button" role="tab" aria-controls="pills-DataManagement" aria-selected="true">@localizer["Home_Solutions_Data"]</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link w-100" id="pills-EmergencyDispatch-tab" data-bs-toggle="pill" data-bs-target="#pills-EmergencyDispatch" type="button" role="tab" aria-controls="pills-EmergencyDispatch" aria-selected="true">@localizer["Home_Solutions_Emergency"]</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link w-100" id="pills-Education-tab" data-bs-toggle="pill" data-bs-target="#pills-Education" type="button" role="tab" aria-controls="pills-Education" aria-selected="true">@localizer["Home_Solutions_Edu"]</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link w-100" id="pills-RecordsManagement-tab" data-bs-toggle="pill" data-bs-target="#pills-RecordsManagement" type="button" role="tab" aria-controls="pills-RecordsManagement" aria-selected="true">@localizer["Home_Solutions_Records"]</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link w-100" id="pills-AutomatedScheduling-tab" data-bs-toggle="pill" data-bs-target="#pills-AutomatedScheduling" type="button" role="tab" aria-controls="pills-AutomatedScheduling" aria-selected="true">@localizer["Home_Solutions_Auto"]</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link w-100" id="pills-Transportation-tab" data-bs-toggle="pill" data-bs-target="#pills-Transportation" type="button" role="tab" aria-controls="pills-Transportation" aria-selected="true">@localizer["Home_Solutions_Trans"]</button>
            </li>
            
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-DataManagement" role="tabpanel" aria-labelledby="pills-DataManagement-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h6 class="text-primary">@localizer["Home_Solutions_Data_SDDS"]</h6>
                            <p class="mb-3">@localizer["Home_Solutions_Data_SDDS_P"]</p>
                            <a href="/projects" class="btn btn-primary">Learn more</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="https://picsum.photos/200/300" alt="">
                    </div>
            

                </div>
            </div>
            <div class="tab-pane fade" id="pills-EmergencyDispatch" role="tabpanel" aria-labelledby="pills-EmergencyDispatch-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h6 class="text-primary">@localizer["Home_Solutions_Emergency_CAD"]</h6>
                            <p class="mb-3">@localizer["Home_Solutions_Emergency_CAD_P"]</p>
                            <a href="/projects" class="btn btn-primary">Learn more</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="https://picsum.photos/200/300" alt="">
                    </div>
            

                </div>  
            </div>
            <div class="tab-pane fade" id="pills-Education" role="tabpanel" aria-labelledby="pills-Education-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h6 class="text-primary">@localizer["Home_Solutions_Edu_SMART"]</h6>
                            <p class="mb-3">@localizer["Home_Solutions_Edu_SMART_P"]</p>
                            <a href="/projects" class="btn btn-primary">Learn more</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="https://picsum.photos/200/300" alt="">
                    </div>
            

                </div>  
            </div>
            <div class="tab-pane fade" id="pills-RecordsManagement" role="tabpanel" aria-labelledby="pills-RecordsManagement-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h6 class="text-primary">@localizer["Home_Solutions_Records_RMS"]</h6>
                            <p class="mb-3">@localizer["Home_Solutions_Records_RMS_P"]</p>
                            <a href="/projects" class="btn btn-primary">Learn more</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="https://picsum.photos/200/300" alt="">
                    </div>
            

                </div>  
            </div>
            <div class="tab-pane fade" id="pills-AutomatedScheduling" role="tabpanel" aria-labelledby="pills-AutomatedScheduling-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h6 class="text-primary">@localizer["Home_Solutions_Auto_ASAP"]</h6>
                            <p class="mb-3">@localizer["Home_Solutions_Auto_ASAP_P"]</p>
                            <a href="/projects" class="btn btn-primary">Learn more</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="https://picsum.photos/200/300" alt="">
                    </div>
            

                </div>   
            </div>
            <div class="tab-pane fade" id="pills-Transportation" role="tabpanel" aria-labelledby="pills-Emergency Dispatch-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h6 class="text-primary">@localizer["Home_Solutions_Trans_CY"]</h6>
                            <p class="mb-3">@localizer["Home_Solutions_Trans_CY_P"]</p>
                            <a href="/projects" class="btn btn-primary">Learn more</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="https://picsum.photos/200/300" alt="">
                    </div>
            

                </div>     
            </div>
        </div>
    </section>
</div>

<!-- Success -->
<div style="background-color: #102389;">
    <section class="container-md py-5 custom-pad" style="color: white;">
        <h4>@localizer["Home_Success"]</h4>
        <div class="row g-4 py-3 row-cols-lg-2">
            <div class="col-md-4">
                @localizer["Home_Success_P"]
            </div>
            <div class="col-md-8 d-flex justify-content-between">
                <span class="d-flex flex-column align-items-center">
                    <h3>92%</h3>
                    <p>@localizer["Home_Success_M_Customer"]</p>
                </span>
                <span class="d-flex flex-column align-items-center">
                    <h3>20+</h3>
                    <p>@localizer["Home_Success_M_Years"]</p>
                </span>
                <span class="d-flex flex-column align-items-center">
                    <h3>7</h3>
                    <p>@localizer["Home_Success_M_Industry"]</p>
                </span>

            </div>
        </div>

        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            <div class="col custom-img-card" style="color:black;" >
                <div class="d-flex flex-column gap-3 p-4 bg-white">
                    @* <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;"> *@
                    <span class="d-flex gap-3">
                        <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;">
                        <p style="margin: 0;">@localizer["Home_Success_C_U1_Name"]<br/>@localizer["Home_Success_C_U1_JD"]</p>
                    </span>
                    <p>
                        @localizer["Home_Success_C_U1_P"]
                    </p>
                </div>
            </div>
            <div class="col custom-img-card" style="color:black;" >
                <div class="d-flex flex-column gap-3 p-4 bg-white">
                    @* <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;"> *@
                    <span class="d-flex gap-3">
                        <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;">
                        <p style="margin: 0;">@localizer["Home_Success_C_U2_Name"]<br/>@localizer["Home_Success_C_U2_JD"]</p>
                    </span>
                    <p>
                        @localizer["Home_Success_C_U2_P"]
                    </p>
                </div>
            </div>
            <div class="col custom-img-card" style="color:black;" >
                <div class="d-flex flex-column gap-3 p-4 bg-white">
                    @* <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;"> *@
                    <span class="d-flex gap-3">
                        <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;">
                        <p style="margin: 0;">@localizer["Home_Success_C_U3_Name"]<br/>@localizer["Home_Success_C_U3_JD"]</p>
                    </span>
                    <p>
                        @localizer["Home_Success_C_U3_P"]
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>        

<!-- Tech Feed -->
<div style="background-color: #F5F5F5;">
    <section class="container-md py-5 custom-pad">
        <h4 class="text-primary">@localizer["NavBar_TechFeed"]</h4>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            <div class="col custom-img-card" >
                <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                    <span class="d-flex gap-2">
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">schedule</span> 
                            123
                        </div>
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">sell</span>   
                            123
                        </div>
                    </span> 
                    <h5 class="card-title">@localizer["Home_TF_C1"]</h5>
                    <p class="card-text">@localizer["Home_TF_C1_P"]</p>
                    <a href="" class="align-items-center"> 
                        Read more
                        <span class="material-symbols-outlined icon">chevron_right</span>
                    </a>
                </div>
            </div>
            <div class="col custom-img-card" style="border-radius: 10px;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                    <span class="d-flex gap-2">
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">schedule</span> 
                            123
                        </div>
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">sell</span>   
                            123
                        </div>
                    </span> 
                    <h5 class="card-title">@localizer["Home_TF_C2"]</h5>
                    <p class="card-text">@localizer["Home_TF_C2_P"]</p>
                    <a href="" class="align-items-center" style=""> 
                        Read more
                        <span class="material-symbols-outlined icon">chevron_right</span>
                    </a>
                </div>
            </div>
            <div class="col custom-img-card" style="border-radius: 10px !important;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem;">
                <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                    <span class="d-flex gap-2">
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">schedule</span> 
                            123
                        </div>
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">sell</span>   
                            123
                        </div>
                    </span> 
                    <h5 class="card-title">@localizer["Home_TF_C3"]</h5>
                    <p class="card-text">@localizer["Home_TF_C3_P"]</p>
                    <a href="" class="align-items-center" style=""> 
                        Read more
                        <span class="material-symbols-outlined icon">chevron_right</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner -->
<div class="bg-white banner">
    <section class="container-md py-5 custom-pad">
        <h4 class="text-primary">@localizer["Home_GotYou_Title"]</h4>
        <p>@localizer["Home_GotYou_P"]</p>
        <button class="btn btn-primary">Rearn more</button>
    </section>
</div>

