@page "/"
@using Microsoft.Extensions.Localization
@using BlazorApp.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer

<PageTitle>@localizer["Home"]</PageTitle>


<!-- Hero section -->
<section class="hero container-fluid px-0">
    <div class="container-md py-5 custom-pad">
        <span class="row px-0">
            <h2 class="col-md-6 mb-3" style="text-align:start; font-size: 3.75rem;">@localizer["Home_Hero"]</h2>
            <p class="col-md-8 mb-3" style="font-size: 1.25rem;" >@localizer["Home_Hero_Text"]</p>
        </span>
        <a href="/contact" class="btn btn-light btn-lg">@localizer["Home_Hero_CTA"]</a>
    </div>
</section>

<!-- Service & Solutions -->
<div style="background-color: #F5F5F5;">
    <section class="container-md py-5 custom-pad">
        <h4 class="text-primary">@localizer["Home_Service"]</h4>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            <div class="col">
                <div class="custom-card bg-white p-4">
                    <span class="material-symbols-outlined icon">
                        cell_merge
                    </span>
                    <span>
                        <h6 class="text-primary">@localizer["Home_Service_Integration"]</h6>
                        <p>@localizer["Home_Service_Integration_P"]</p>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="custom-card bg-white p-4">
                    <span class="material-symbols-outlined icon">
                        instant_mix
                    </span>
                    <span>
                        <h6 class="text-primary">@localizer["Home_Service_Customized"]</h6>
                        <p>@localizer["Home_Service_Customized_P"]</p>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="custom-card bg-white p-4">
                    <span class="material-symbols-outlined icon">
                        account_balance
                    </span>
                    <span>
                        <h6 class="text-primary">@localizer["Home_Service_Government"]</h6>
                        <p>@localizer["Home_Service_Government_P"]</p>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <!-- Solutions -->
    <section class="container-md pb-3 custom-pad">
        <h4 class="text-primary mb-3">@localizer["NavBar_Solutions"]</h4>
        <ul class="nav nav-pills mb-3 d-flex justify-content-between solutions" id="pills-tab" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link active w-100" id="pills-DataManagement-tab" data-bs-toggle="pill" data-bs-target="#pills-DataManagement" type="button" role="tab" aria-controls="pills-DataManagement" aria-selected="true">@localizer["Home_Solutions_Data"]</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="pills-EmergencyDispatch-tab" data-bs-toggle="pill" data-bs-target="#pills-EmergencyDispatch" type="button" role="tab" aria-controls="pills-EmergencyDispatch" aria-selected="true">@localizer["Home_Solutions_Emergency"]</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="pills-Education-tab" data-bs-toggle="pill" data-bs-target="#pills-Education" type="button" role="tab" aria-controls="pills-Education" aria-selected="true">@localizer["Home_Solutions_Edu"]</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="pills-RecordsManagement-tab" data-bs-toggle="pill" data-bs-target="#pills-RecordsManagement" type="button" role="tab" aria-controls="pills-RecordsManagement" aria-selected="true">@localizer["Home_Solutions_Records"]</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="pills-AutomatedScheduling-tab" data-bs-toggle="pill" data-bs-target="#pills-AutomatedScheduling" type="button" role="tab" aria-controls="pills-AutomatedScheduling" aria-selected="true">@localizer["Home_Solutions_Auto"]</button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
                <button class="nav-link w-100" id="pills-Transportation-tab" data-bs-toggle="pill" data-bs-target="#pills-Transportation" type="button" role="tab" aria-controls="pills-Transportation" aria-selected="true">@localizer["Home_Solutions_Trans"]</button>
            </li>
            
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-DataManagement" role="tabpanel" aria-labelledby="pills-DataManagement-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h5 class="text-primary">@localizer["Home_Solutions_Data_SDDS"]</h5>
                            <p class="mb-3">@localizer["Home_Solutions_Data_SDDS_P"]</p>
                            <a href="/SDDS" class="btn btn-primary">@localizer["LearnMore"]</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="assets/Solutions/SDDS_01.png" alt="">
                    </div>
            

                </div>
            </div>
            <div class="tab-pane fade" id="pills-EmergencyDispatch" role="tabpanel" aria-labelledby="pills-EmergencyDispatch-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h5 class="text-primary">@localizer["Home_Solutions_Emergency_CAD"]</h5>
                            <p class="mb-3">@localizer["Home_Solutions_Emergency_CAD_P"]</p>
                            <a href="/CAD" class="btn btn-primary">@localizer["LearnMore"]</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="assets/Solutions/CAD.png" alt="">
                    </div>
            

                </div>  
            </div>
            <div class="tab-pane fade" id="pills-Education" role="tabpanel" aria-labelledby="pills-Education-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h5 class="text-primary">@localizer["Home_Solutions_Edu_SMART"]</h5>
                            <p class="mb-3">@localizer["Home_Solutions_Edu_SMART_P"]</p>
                            <a href="https://smartmigrant.com/" class="btn btn-primary">@localizer["LearnMore"]</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="assets/Solutions/SMART.png" alt="">
                    </div>
            

                </div>  
            </div>
            <div class="tab-pane fade" id="pills-RecordsManagement" role="tabpanel" aria-labelledby="pills-RecordsManagement-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h5 class="text-primary">@localizer["Home_Solutions_Records_RMS"]</h5>
                            <p class="mb-3">@localizer["Home_Solutions_Records_RMS_P"]</p>
                            <a href="/RMS" class="btn btn-primary">@localizer["LearnMore"]</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="assets/Solutions/RMS.png" alt="">
                    </div>
            

                </div>  
            </div>
            <div class="tab-pane fade" id="pills-AutomatedScheduling" role="tabpanel" aria-labelledby="pills-AutomatedScheduling-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h5 class="text-primary">@localizer["Home_Solutions_Auto_ASAP"]</h5>
                            <p class="mb-3">@localizer["Home_Solutions_Auto_ASAP_P"]</p>
                            <a href="/ASAP" class="btn btn-primary">@localizer["LearnMore"]</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px;">
                        <img src="assets/Solutions/ASAP.png" alt="">
                    </div>
            

                </div>   
            </div>
            <div class="tab-pane fade" id="pills-Transportation" role="tabpanel" aria-labelledby="pills-Emergency Dispatch-tab" tabindex="0">
                <div class="row row-cols-1 row-cols-md-2 align-items-md-star g-5 py-5">
                    <div class="col-md-5">
                        <span>
                            <h5 class="text-primary">@localizer["Home_Solutions_Trans_CY"]</h5>
                            <p class="mb-3">@localizer["Home_Solutions_Trans_CY_P"]</p>
                            <a href="/CY" class="btn btn-primary">@localizer["LearnMore"]</a>

                        </span>
                    </div>
                    <div class="col-md-7 d-flex flex-column align-items-start gap-2" style="height: 350px; border-radius: 0.5rem;">
                        <img src="assets/Solutions/CY.png" alt="">
                    </div>
            

                </div>     
            </div>
        </div>
    </section>
</div>

<!-- Success -->
<div style="background-color: #102389;">
    <section class="container-md py-5 custom-pad" style="color: white;">
        <h4>@localizer["Home_Success"]</h4>
        <div class="row g-4 py-3 row-cols-lg-2">
            <div class="col-md-4">
                @localizer["Home_Success_P"]
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-lg-end" style="gap: 10%;">
                <span class="d-flex flex-column align-items-center">
                    <h3>92%</h3>
                    <p style="text-align: center;">@localizer["Home_Success_M_Customer"]</p>
                </span>
                <span class="d-flex flex-column align-items-center">
                    <h3>20+</h3>
                    <p style="text-align: center;">@localizer["Home_Success_M_Years"]</p>
                </span>
                <span class="d-flex flex-column align-items-center">
                    <h3>7</h3>
                    <p style="text-align: center;">@localizer["Home_Success_M_Industry"]</p>
                </span>

            </div>
        </div>

        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            <div class="col custom-img-card" style="color:black;" >
                <div class="d-flex flex-column gap-3 p-4 bg-white" style="border-radius: 10px;">
                    @* <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;"> *@
                    <span class="d-flex gap-3">
                        <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px; border-radius: 100rem;">
                        <p style="margin: 0;">@localizer["Home_Success_C_U1_JD"]<br/><p style="color: #0d47a1;">@localizer["Home_Success_C_U1_Name"]</p></p>
                    </span>
                    <p>
                        @localizer["Home_Success_C_U1_P"]
                    </p>
                </div>
            </div>
            <div class="col custom-img-card" style="color:black;" >
                <div class="d-flex flex-column gap-3 p-4 bg-white" style="border-radius: 10px;">
                    @* <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;"> *@
                    <span class="d-flex gap-3">
                        <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px; border-radius: 100rem;">
                        <p style="margin: 0;">@localizer["Home_Success_C_U2_JD"]<br/><p style="color: #0d47a1;">@localizer["Home_Success_C_U2_Name"]</p></p>
                    </span>
                    <p>
                        @localizer["Home_Success_C_U2_P"]
                    </p>
                </div>
            </div>
            <div class="col custom-img-card" style="color:black;" >
                <div class="d-flex flex-column gap-3 p-4 bg-white" style="border-radius: 10px;">
                    @* <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px;"> *@
                    <span class="d-flex gap-3">
                        <img src="https://picsum.photos/200" alt="..." style="width: 50px; height: 50px; border-radius: 100rem;">
                        <p style="margin: 0;">@localizer["Home_Success_C_U3_JD"]<br/><p style="color: #0d47a1;">@localizer["Home_Success_C_U3_Name"]</p></p>
                    </span>
                    <p>
                        @localizer["Home_Success_C_U3_P"]
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>        

<!-- Tech Feed -->
<div style="background-color: #F5F5F5;">
    <section class="container-md py-5 custom-pad">
        <h4 class="text-primary">@localizer["NavBar_TechFeed"]</h4>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            <div class="col custom-img-card" >
                <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem; border-radius: 10px 10px 0 0;">
                <div class="bg-white p-4 d-flex flex-column align-items-start gap-3" style=" border-radius: 0 0 10px 10px;">
                    <span class="d-flex gap-2">
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">schedule</span> 
                            @localizer["TF_Time"]
                        </div>
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">sell</span>   
                            @localizer["TF_Tag"]
                        </div>
                    </span> 
                    <h5 class="card-title">@localizer["Home_TF_C1"]</h5>
                    <p class="card-text">@localizer["Home_TF_C1_P"]</p>
                    <a href="/techFeed" class="align-items-center"> 
                        @localizer["ReadMore"]
                        <span class="material-symbols-outlined icon">chevron_right</span>
                    </a>
                </div>
            </div>
            <div class="col custom-img-card" style="border-radius: 10px;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem; border-radius: 10px 10px 0 0;">
                <div class="bg-white p-4 d-flex flex-column align-items-start gap-3" style=" border-radius: 0 0 10px 10px;">
                    <span class="d-flex gap-2">
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">schedule</span> 
                             @localizer["TF_Time"]
                        </div>
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">sell</span>   
                             @localizer["TF_Tag"]
                        </div>
                    </span> 
                    <h5 class="card-title">@localizer["Home_TF_C2"]</h5>
                    <p class="card-text">@localizer["Home_TF_C2_P"]</p>
                    <a href="/techFeed" class="align-items-center" style=""> 
                        @localizer["ReadMore"]
                        <span class="material-symbols-outlined icon">chevron_right</span>
                    </a>
                </div>
            </div>
            <div class="col custom-img-card" style="border-radius: 10px !important;">
                <img src="https://picsum.photos/200" class="card-img-top" alt="..." style="height: 8rem; border-radius: 10px 10px 0 0;">
                <div class="bg-white p-4 d-flex flex-column align-items-start gap-3" style=" border-radius: 0 0 10px 10px;">
                    <span class="d-flex gap-2">
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">schedule</span> 
                             @localizer["TF_Time"]
                        </div>
                        <div class="d-inline-flex gap-1 align-items-center">
                            <span class="material-symbols-outlined icon">sell</span>   
                             @localizer["TF_Tag"]
                        </div>
                    </span> 
                    <h5 class="card-title">@localizer["Home_TF_C3"]</h5>
                    <p class="card-text">@localizer["Home_TF_C3_P"]</p>
                    <a href="/techFeed" class="align-items-center" style=""> 
                        @localizer["ReadMore"]
                        <span class="material-symbols-outlined icon">chevron_right</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Banner -->
<div class="bg-white banner">
    <section class="container-md py-5 custom-pad">
        <h4 class="text-primary">@localizer["Home_GotYou_Title"]</h4>
        <p>@localizer["Home_GotYou_P"]</p>
        <button class="btn btn-primary">@localizer["ReadMore"]</button>
    </section>
</div>


<style scoped>
    .solutions {
        gap: 1.5rem; /* 按鈕之間的間距 */
    }

    .solutions .nav-link {
        background-color: #fff !important; /* 淡藍色背景 */
        color: #9E9E9E; /* 字體顏色 */
        text-align: center;
        padding: 0.5rem 1rem; /* 調整內距 */
        transition: background-color 0.3s, color 0.3s;
    }

    .solutions .nav-link:hover {
        background-color: #E8EAF7 !important; /* 更深的藍色當滑鼠移上去 */
        color: #0d47a1; /* 白色文字 */
    }

    .solutions .nav-link.active {
        background-color: #E8EAF7 !important; /* 更深的藍色當滑鼠移上去 */
        border: 1px solid #0d47a1;
        color: #0d47a1; /* 白色文字 */
    }
</style>

