@page "/skillsandservices"
@using Microsoft.Extensions.Localization
@using BlazorApp.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer

<PageTitle>@localizer["NavBar_SkillsServices"]</PageTitle>

    <!-- Header -->
    <section class="container-fluid header" >
        <h4>@localizer["NavBar_SkillsServices"]</h4>
    </section>

    <!-- Service -->
    <div style="background-color: #F5F5F5;">
        <section class="container-md py-5 custom-pad services">
            <h4 class="text-primary">@localizer["Home_Service"]</h4>
            <p>
                It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. We’re using technology to help individuals and organizations exceed expectations. So set your bar high. Think LogiKCo.
            </p>
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="custom-card bg-white p-4">
                        <span class="material-symbols-outlined icon">
                            cell_merge
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Home_Service_Integration"]</h6>
                            <p>@localizer["Home_Service_Integration_P"]</p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card bg-white p-4">
                        <span class="material-symbols-outlined icon">
                            instant_mix
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Home_Service_Customized"]</h6>
                            <p>@localizer["Home_Service_Customized_P"]</p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card bg-white p-4">
                        <span class="material-symbols-outlined icon">
                            account_balance
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Home_Service_Government"]</h6>
                            <p>@localizer["Home_Service_Government_P"]</p>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Process -->
    <section class="container-md py-5 custom-pad">
        <h4 class="text-primary">@localizer["Skills_Process"]</h4>
        <p>
            It is about finding a better way of doing things, pushing the envelope, and yes, setting a new standard. We’re using technology to help individuals and organizations exceed expectations. So set your bar high. Think LogiKCo.
        </p> 
        <div class="processes">           
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            cell_merge
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Skills_Process_Step01_Title"]</h6>
                            <p>@localizer["Skills_Process_Step01_P"]</p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            instant_mix
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Skills_Process_Step02"]</h6>
                            <p>@localizer["Skills_Process_Step02_P"]</p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            account_balance
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Skills_Process_Step03"]</h6>
                            <p>@localizer["Skills_Process_Step03_P"]</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            cell_merge
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Skills_Process_Step04"]</h6>
                            <p>@localizer["Skills_Process_Step04_P"]</p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            instant_mix
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Skills_Process_Step05"]</h6>
                            <p>@localizer["Skills_Process_Step05_P"]</p>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="custom-card p-4" style="background-color: #E8EAF7;">
                        <span class="material-symbols-outlined icon">
                            account_balance
                        </span>
                        <span>
                            <h6 class="text-primary">@localizer["Skills_Process_Step06"]</h6>
                            <p>@localizer["Skills_Process_Step06_P"]</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Banner -->
    <div style="background-color: #F5F5F5;">
        <section class="container-md py-5 custom-pad">
            <h4 class="text-primary">@localizer["Skills_WhyChooseLogikco"]</h4>
            <p>@localizer["Skills_WhyChooseLogikco"]</p>
            <button class="btn btn-primary">Rearn more</button>
        </section>
    </div>

    