@page "/solutions"
@using Microsoft.Extensions.Localization
@using BlazorApp.Locales;
@using System.Globalization
@inject IStringLocalizer<Resources> localizer

<PageTitle>@localizer["NavBar_Solutions"]</PageTitle>

    <!-- Header -->
    <section class="container-fluid header" >
        <h4 style="color: white;">@localizer["NavBar_Solutions"]</h4>
    </section>
    
    <!-- Content -->
    <section class="container-md custom-pad content">
        <h4>@localizer["Solutions_Projects"]</h4>
        <p>
            @localizer["Solutions_Projects_P"]
        </p>
        <div class="project">
            <div class="row row-cols-1 row-cols-lg-3 ">
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="assets/Solutions/SDDS.png" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">@localizer["Home_Solutions_Data_SDDS"]</h5>
                            <p class="card-text invisibleText">@localizer["Home_Solutions_Data_SDDS_P"]</p>
                            <a class="btn btn-outline-primary w-100" href="/SDDS">@localizer["LearnMore"]</a>
                        </div>
                    </div>
                </div>
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="assets/Solutions/CAD.png" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">@localizer["Home_Solutions_Emergency_CAD"]</h5>
                            <p class="card-text invisibleText">@localizer["Home_Solutions_Emergency_CAD_P"]</p>
                            <a class="btn btn-outline-primary w-100" href="/CAD">@localizer["LearnMore"]</a>
                        </div>
                    </div>
                </div>
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="assets/Solutions/SMART.png" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">@localizer["Home_Solutions_Edu_SMART"]</h5>
                            <p class="card-text invisibleText">@localizer["Home_Solutions_Edu_SMART_P"]</p>
                            <a class="btn btn-outline-primary w-100" href="https://smartmigrant.com/" target="_blank" >@localizer["LearnMore"]</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3 ">
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="assets/Solutions/RMS.png" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">@localizer["Home_Solutions_Records_RMS"]</h5>
                            <p class="card-text invisibleText">@localizer["Home_Solutions_Records_RMS_P"]</p>
                            <a class="btn btn-outline-primary w-100" href="/RMS">@localizer["LearnMore"]</a>
                        </div>
                    </div>
                </div>
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="assets/Solutions/ASAP.png" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">@localizer["Home_Solutions_Auto_ASAP"]</h5>
                            <p class="card-text invisibleText">@localizer["Home_Solutions_Auto_ASAP_P"]</p>
                            <a class="btn btn-outline-primary w-100" href="/ASAP">@localizer["LearnMore"]</a>
                        </div>
                    </div>
                </div>
                <div class="col custom-img-card" >
                    <div class="cus-card-border">
                        <img src="assets/Solutions/CY.png" class="card-img-top" alt="..." style="height: 8rem;">
                        <div class="bg-white p-4 d-flex flex-column align-items-start gap-3">
                            <h5 class="card-title">@localizer["Home_Solutions_Trans_CY"]</h5>
                            <p class="card-text invisibleText">@localizer["Home_Solutions_Trans_CY_P"]</p>
                            <a class="btn btn-outline-primary w-100" href="/CY">@localizer["LearnMore"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style scoped>
        body{
            background-color: #f5f5f5;
        }
        h4, h5{
            color: #102389 ;
        }
        .invisibleText {
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
        }
    </style>